# Server
PORT=<VALUE>
NODE_ENV=<VALUE>
LOG_LEVEL=<VALUE>
CORS_ORIGINS=<VALUES>
FRONTEND_URL=<VALUE>

# Encryption
ENCRYPTION_KEY=<VALUE>

# JWT
JWT_SECRET=<VALUE>
JWT_EXPIRE_TIME=<VALUE>
JWT_REFRESH_SECRET=<VALUE>
JWT_REFRESH_EXPIRE_TIME=<VALUE>

# Database
DATABASE_URL=<VALUE>

# Google Places
GOOGLE_PLACES_API_KEY=<VALUE>

# Gemini
GEMINI_API_KEY=<VALUE>
GEMINI_MODEL=<VALUE>

# Brevo
BREVO_SENDER_NAME=<VALUE>
BREVO_SENDER_EMAIL=<VALUE>
BREVO_API_KEY=<VALUE>

# Cloudinary
CLOUDINARY_CLOUD=<VALUE>
CLOUDINARY_API_KEY=<VALUE>
CLOUDINARY_API_SECRET=<VALUE>

# Redis
REDIS_HOST=<VALUE>
REDIS_PORT=<VALUE>
REDIS_USERNAME=<VALUE>
REDIS_PASSWORD=<VALUE>
REDIS_TLS=<VALUE>
